:root {
    --button-side-length: 92px;
    --outset-border-color: rgb(76, 45, 124);
}

* {
    background: rgb(44, 37, 94);

    font-family: Consolas;
    
    margin: 0;
    padding: 0;
}

.calculator {
    background: rgb(62, 51, 129);

    border: 8px outset var(--outset-border-color);
    box-shadow: 16px 20px 4px rgb(0, 0, 0);

    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    
    margin: 80px auto;
    width: 450px;
}

.display {
    background: rgb(43, 97, 52);
    
    font-size: 34px;

    border: 4px inset rgb(121, 92, 0);
    border-radius: 20px;
    margin: 20px auto;
    padding: 0 8px 0 2px;

    height: 90px;
    width: 380px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

ul {
    list-style: none;
}

.buttons {
    background: inherit;
    margin: 30px auto;

    width: 400px;
}

.row {
    background: inherit;
    margin: 6px 0;

    display: flex;
    justify-content: space-between;
}

.buttons
button {
    background: rgb(82, 82, 82);

    font-size: 36px;
    font-weight: bold;
    text-align: center;
    
    box-shadow: 2px 4px 2px;

    border: 6px outset var(--outset-border-color);
    border-radius: 15%;
    padding: 8px 16px;

    width: var(--button-side-length);
    height: var(--button-side-length);
}

#clear {
    background: rgb(141, 45, 0);
}

#divide, #multiply, #subtract, #add {
    background: rgb(131, 85, 0);
}

#result {
    background: rgb(120, 120, 120);
}

